$primary-bg: #121212;
$secondary-bg: #1e1e1e;
$text-color: #ffffff;
$border-color: #333;
$border-radius: 8px;
$highlight-color: #00d8ff;
$highlight-color-dark: #007a98;

@import "bootstrap/scss/bootstrap";